<html>
    <head>
    </head>
    <body>

<div>
    <% if (message.length > 0) { %>
      <div  ><%= message %></div>
    <% } else {%>
      <div >
        <div >
          <h3><%=data.productName%></h3>
        </div>
        <div >
          <div >
            <div  > <img height="100" width="100" alt="Product Pic" src="http://localhost:2000/images/<%=data.image1%>" > </div>
            <div > <img height="100" width="100" alt="Product Pic" src="http://localhost:2000/public/images/<%=data.image2%>" > </div>
            <div > <img height="100" width="100" alt="Product Pic" src="http://localhost:2000/public/images/<%=data.image3%>" > </div>
            <div > 
              <table >
                <tbody>
                  <tr>
                    <td>Product Name :</td>
                    <td><%=data.productName%></td>
                  </tr>
                  <tr>
                    <td>Price</td>
                    <td><%=data.price%></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    </div>
  </div>
</body>
</html>
     